<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaRt-LOO7HVUGyG__5azXPN4xWbZAndGs</string>
	<key>GCM_SENDER_ID</key>
	<string>191046176984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xoxgroup.xfacetime</string>
	<key>PROJECT_ID</key>
	<string>xfacetime</string>
	<key>STORAGE_BUCKET</key>
	<string>xfacetime.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191046176984:ios:cbbac78bd846122177c7ad</string>
</dict>
</plist>